{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Добро пожаловать в наш интернет-магазин японских товаров! Мы являемся прямыми поставщиками аутентичных продуктов, вдохновленных культурой, традициями и инновациями Японии. Наша миссия - делать доступными самые лучшие и уникальные японские товары для наших клиентов по всему миру.</p>
            <br /><br />
            <p>Мы гордимся широким ассортиментом товаров, представленных на нашем сайте. Здесь вы найдете все, начиная от традиционных японских подарков и сувениров, заканчивая современными электронными устройствами и товарами связанные с аниме и мангой. Наша команда тщательно отбирает каждый товар, чтобы гарантировать высокое качество и уникальность каждого из них.</p>
            <br /><br />
            <p>Мы стремимся не только предоставлять отличный выбор продукции, но и обеспечивать наших клиентов удивительным опытом покупок. Наша команда готова помочь вам с любыми вопросами и запросами. Присоединяйтесь к нам и откройте для себя мир настоящей Японии, прямо здесь, в нашем интернет-магазине.</p>
            <br /><br />

{% endblock %}
