{% extends "app/layout.html" %}

{% block content %}
<h2>Корзина</h2>

{% if items %}
<table>
    <tr>
        <th>Товар</th>
        <th>Наименование</th>
        <th>Цена за штуку</th>
        <th>Количество</th>
        <th>Общая стоимость</th>
    </tr>
    {% for item in items %}
    <tr>
        <td><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="75"></td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}</td>
        <td>
            <form method="POST" action="{% url 'update_cart_quantity' item.id %}">
                {% csrf_token %}
                <button type="submit" name="action" value="decrease">-</button>
                <span>{{ item.quantity }}</span>
                <button type="submit" name="action" value="increase">+</button>
            </form>
        </td>
        <td>{{ item.total_price }} </td>
    </tr>
    {% endfor %}
    
</table>

<h3>Итоговая сумма: {{ total_cart_price }} ₽</h3>
{% else %}
<p>Ваша корзина пуста.</p>
{% endif %}
{% endblock %}
